a {
    text-decoration: none;
    color: black;
}

.navbar > a {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    vertical-align: middle;
}

.navbar > a.active {
    background: darkslategrey;
    color: lightgray;
}